language: node_js
node_js: "8"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
script: npm run ci
before_script:
  - npm run http-server &
  - sleep 2
addons:
  sauce_connect: true
  firefox: "46.0"
